torch==2.10.0
torchvision==0.5.0
tqdm 
opencv-python 
scikit-learn 
matplotlib
h5py 
pyyaml
seaborn 
imageio 
easydict
tensorboardX
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
